/*!
    /r/ModelSuburbia theme
    Copyright © 2016 RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version, with the additional permission that you
    may convey a covered work in object code form without also conveying the
    machine-readable Corresponding Source and without the copy of the GNU GPL
    normally required by section 4, provided that you comply with the other
    terms of sections 4 and 5.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

$subname: "Model Suburbia Council";

// ====================================
// BEGIN THEME CODE: ADVENTURER BEWARE!
// ====================================

// Replace the titles
.pagename a {
	font-size: 0px;
	&::after {
		content: $subname;
		font-size: 16px; // from Reddit CSS: 1.2em * x-small
	}
}
.redditname a {
	font-size: 0px;
	&::after {
		content: $subname;
		font-size: 19px; // from Reddit CSS
	}
}

// The top header
#sr-header-area {
	background-color: #30323c;
	color: #d4d6db;
	border: none; // Override default border
}
.sr-bar a {
	color: #d4d6db;
}
.pagename, .pagename a {
	color: #ffffff;
}

// The main subreddit header
#header {
	background-color: #23242b;
	border: none; // Override default border
}

// Tabs
#header .tabmenu {
	margin-bottom: 2px; // Don't hug the page quite so closely
	
	li {
		// Override defaults
		a {
			background: none;
		}
		&.selected a {
			border: none;
			background: none;
		}
		
		a {
			color: #c7c9ce;
			font-weight: normal;
		}
		&.selected a {
			color: #ffffff;
			font-weight: bold;
		}
	}
}

// Override default buttons
.side .submit {
	background: none;
}
.morelink, .morelink:hover {
	background: none;
	border: none;
	letter-spacing: initial;
}
.morelink .nub {
	display: none;
}

// Buttons
.md h4 a, .side .submit a {
	display: block;
	
	text-align: center;
	
	height: 20px;
	line-height: 20px;
	
	background-color: #2a303c;
	color: #ffffff;
	
	font-size: 12px;
	font-weight: bold;
	
	border-radius: 3.5px;
	margin: 18px 0;
	padding: 8px 0;
	
	transition: background 0.3s ease 0s;
	&:hover {
		background-color: lighten(#2a303c, 5%);
	}
	&:active {
		background-color: darken(#2a303c, 5%);
	}
}
.md h4 a {
	// Buttons in regular body go to 276px
	width: 276px;
}
.side .md h4 a {
	// Buttons in the sidebar go to 100%
	width: 100%;
}
// Submit buttons
.side .morelink a {
	width: 100%;
	font-size: 16px;
}
.submit.mod-override .morelink a::after {
	margin-top: 2px; // Fix positioning of the mod shield
}

// Images
a {
	&[href$="#whois"]::after {
		content: url(%%whois%%);
	}
}

/*!

Theme code ends: Customisations may follow */
